@charset "UTF-8";

@media (max-width: 750px) {

.login-container{
    width: 95%;
}

    .forLableAndInputContainer{
        flex-direction: column;
    }

    .adjustFeedback{
        width: 100%;
    }
}